*, *::after, *::before {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
}


html, body, #root, .app {
  height: 100%;
}


html * {
  font-family: "monospace", sans-serif;
}


.app {
  display: flex;
  flex-wrap: wrap;
}


.map {
  order: 2;
  width: 100%;
  height: 100%;
}


.hamburger-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 15;
  left: 10px;
  top: 80px;
  font-size: 2.7em;
  font-weight: 900;
  cursor: pointer;
}


.hamburger-btn-hidden {
  display: none;
}


.sidebar {
  order: 1;
  width: 220px;
  position: absolute;
  z-index: 10;
  transform: translateX(-220px);
  padding: 10px;
  background-color: gray;
  opacity: 0.92;
  height: 100%;
  transition: transform 0.5s;
  overflow: scroll;
  font-size: 0.65em;
}


.sidebar-expanded {
  transform: translateX(0px);
}


.close-sidebar {
  float: right;
  color: #343434;
  font-size: 2em;
  padding: 9px;
  cursor: pointer;
}


.sidebar > div > input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}


.sidebar > div > label {
  font-size: 1.4em;
  color: #fff;
  display: block;
  width: 100%;
}


.sidebar > div > label,
.sidebar > div > input,
.sidebar > ul {
  position: relative;
  top: 80px;
}


.sidebar li {
  font-size: 1.2em;
  color: #fefefe;
  line-height: 2.3em;
}


.sidebar li:hover {
  text-decoration: underline;
  cursor: pointer;
}


.hints {
  position: absolute;
  z-index: 15;
  top: 100px;
  left: 20%;
  width: 260px;
  height: 160px;
  padding: 10px;
  line-height: 1.6em;
  background-color: #073590;
  color: #acfb1d;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.hints > ul {
  list-style-type: none;
}


.details-view {
  opacity: 0;
  position: absolute;
  width: 230px;
  height: 280px;
  z-index: 15;
  top: 25%;
  left: 24%;
  padding: 10px;
  padding-top: 30px;
  font-size: 0.85em;
  color: #eee7e7;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #354242;
  overflow: scroll;
  transition: opacity 0.5s;
}


.details-view a,
.data {
  color: #fab753;
}

.close-details-view {
  position: absolute;
  right: 20px;
  top: 5px;
  float: right;
  width: 30px;
  height: 30px;
  font-size: 1.7em;
  background-color: #354242;
  border: none;
  color: #eee7e7;
}


.failure-window {
  display: block;
  position: absolute;
  border-radius: 10px;
  z-index: 15;
  left: 20%;
  top : 15%;
  width: 270px;
  height: fit-content;
  padding: 20px;
  background-color: #2379be;
  color: #69e674
}
