*, *::after, *::before {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
}


html, body, #root, .app {
  height: 100%;
}


html * {
  font-family: "monospace", sans-serif;
}


.app {
  display: flex;
  flex-wrap: wrap;
}


.map {
  order: 2;
  width: 100%;
  height: 100%;
}


.sidebar {
  order: 1;
  width: 170px;
  position: absolute;
  z-index: 10;
  transform: translateX(-170px);
  padding: 10px;
  background-color: gray;
  opacity: 0.92;
  height: 100%;
  transition: transform 0.5s;
}


.sidebar-expanded {
  transform: translateX(0px);
}


.places {
  font-size: 1.2em;
  color: #fefefe;
  line-height: 1.6em;
}


.hamburger-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 15;
  left: 10px;
  top: 80px;
  font-size: 2.7em;
  font-weight: 900;
}


.hamburger-btn-hidden {
  display: none;
}


.close-sidebar {
  float: right;
  color: #fefefe;
  font-size: 1.2em;
  padding: 5px;
}


.sidebar > input {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}